


.nav-bar ul{
    
    text-align: center;
   cursor: pointer;
   
}

.nav-bar li {
    display: inline-block;
    text-align: center;
   padding-right: 20px ;
   padding-left: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
  
  
}

.icon{
   display: none;
   

  }

  @media only screen and (max-width:600px){
      .icon{
    display: inline-block;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0;
    color: grey;
 background-color: rgb(225, 231, 229);
  cursor: pointer;
  width: 70px;
  
      }
      .nav-bar li {
        display: none;
    }

    .card{
      margin-bottom: 20px;
      
    }
    
  }
section{
  padding-bottom: 50px;
  padding-top: 40px;
}

footer{
    bottom: 0;
    position: fixed;
    background-color: rgb(225, 231, 229);
    width: 100%;
  text-align: center; 
}

footer p{
    color: grey;
}